<!DOCTYPE html>
<html>
<body>
    <h2>Weather Details</h2>
    <p>City: <%= city %></p>
    <p>Temperature: <%= temp %> °C</p>
    <p>Humidity: <%= hum %>%</p>
    <p>Condition: <%= cond %></p>
    <a href="/">Back</a>
</body>
</html>